In [2]:
print("_____________________________")
print("|  WELLCOME TO SKY LIBRARY  |")
print("|---------------------------|")
print("|ADMIN  | STUDENT| LIB_STAFF|")
print("|---------------------------|")
A=(input(" ENTER AS: "))
print("|---------------------------|")
import webbrowser as wb

if(A=="ADMIN"):
    class Login:
        def __init__(self, id, password):
            self.id = id
            self.password = password
            self.error = "|Enter a valid username and password|"
        def check(self):
            if (self.id == log_id and self.password == log_pass):
                print("|Login successful           |")
                print("|---------------------------|")
                import mysql.connector as slt
                m=slt.connect(host='localhost',user='root',password='system',database='lib')
                if(m.is_connected()):
                    #DATE IS USED IN EVERY COMMAND
                    import datetime
                    date = datetime.date.today()
                    #wellcome_page
                    print("________________________________________________________")
                    print(" WELLCOME TO SKY LIBRARY ",date)
                    print("________________________________________________________")
                    #what_to_interface
                    print("==============================================")
                    print(" ENTER ALL COMMANDS IN CAPITALS ")
                    print("==============================================")
                    print("|TO ENTER STUDENT DETAILS    : ENTER STUDENT  |")
                    print("|TO GET ALL DATA OF STUDENTS : SHOW DATA      |")
                    print("|TO ENTER BOOK DETAILS       : ENTER BOOK     |")
                    print("|TO ISSUE BOOK TO STUDENTS   : ISSUE          |")
                    print("|TO UNISSUE BOOKS            : UNISSUE        |")
                    print("|TOTAL ISSUE BY STUDENT      : PRESENT        |")
                    print("|E-BOOKS                     : EBOOK          |")
                    print("==============================================")
                    w=(input("ENTRY FOR: "))
                    if(w=="ENTER STUDENT"):
                        print("-----------------------------------------")
                        print(" THIS PAGE: ENTER STUDENT DETAILS ")
                        print("INSERT DETAILS CAREFULLY CANNOT BE CHANGED")
                        print("-----------------------------------------")
                        cursor=m.cursor()
                        A=(input("enter student name "))
                        B=int(input("enter the roll number "))
                        D=int(input("enter the class "))
                        st=("insert into student(studentname,rollno,class)values('{}','{}','{}')".format(A,B,D))
                        cursor.execute(st)
                        m.commit()
                        so="update student set scode=(select (round(rand()*10000,0))) where studentname='%s'"%(A)
                        cursor.execute(so)
                        m.commit()
                        sql="select studentname,rollno,scode,class from student where studentname='%s'"%(A)
                        cursor.execute(sql)
                        result=cursor.fetchall()
                        import pandas as pd
                        z=pd.DataFrame(result,columns=["sname","rollno","scode","class"])
                        print("============================================")
                        print ("DETAILS OF ",A,"ENTERED SUCESSFULLY")
                        print("============================================")
                        print(z)
                        print("============================================")
                        print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=="SHOW DATA"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("-----------------------------------------")
                            print(" THIS PAGE: ALL STUDENT DATA STORED ")
                            print("-----------------------------------------")
                            cursor=m.cursor()
                            sql="select studentname,scode,class,rollno from student"
                            cursor.execute(sql)
                            result=cursor.fetchall()
                            import pandas as pd
                            z=pd.DataFrame(result,columns=["sname","scode","class","rollno"])
                            print("============================================")
                            print(" ALL STUDENT DATA")
                            print("============================================")
                            print(z)
                            print("============================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=="ENTER BOOK"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("--------------------------------------------")
                            print(" THIS PAGE: ENTER BOOK DETAILS")
                            print(" INSERT DETAILS CAREFULLY CANNOT BE CHANGED")
                            print("--------------------------------------------")
                            cursor=m.cursor()
                            A=input("ENTER BOOK NAME ")
                            C=input("ENTER THE AUTHOR NAME ")
                            D=int(input("ENTER STOCK OF THIS book "))
                            pl=int(input("enter your class"))
                            st=("insert into book(bookname,AUTHOR,stock,class)values('{}','{}','{}','{}')".format(A,C,D,pl))
                            cursor.execute(st)
                            m.commit()
                            so="update book set bookcode=(select (round(rand()*10000,0))) where bookname='%s'"%(A)
                            cursor.execute(so)
                            m.commit()
                            print("Data insert successfully")
                            sql="select bookname,bookcode,AUTHOR,stock,class from book where bookname='%s'"%(A)
                            cursor.execute(sql)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("=========================================")
                            z=pd.DataFrame(result,columns=["book","Bcode","AUTHORS","STOCKS","class"])
                            print(" BOOK DETAILS OF",A,"SUCCESSFULLY")
                            print("=========================================")
                            print(z)
                            print("=========================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=="ISSUE"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("============================================")
                            print("THIS PAGE : ISSUE BOOKS TO STUDENT")
                            print("ENTER THE VALUES CAREFULLY CANNOT BE CHANGED")
                            print("=============================================")
                            cursor=m.cursor()
                            import datetime
                            dat= datetime.date.today()
                            t="issued"
                            A=int(input("ENTER THE BOOKCODE "))
                            B=int(input("ENTER THE sCODE "))
                            ST=("update book set status='%s',scode='%d'where bookcode='%d'"%(t,B,A))
                            cursor.execute(ST)
                            m.commit()
                            ST=("update book set i_date=now() where scode='%d'")%(B)
                            cursor.execute(ST)
                            sk=("update book set stock=stock-1 where bookcode='%d'"%(A))
                            cursor.execute(sk)
                            m.commit()
                            sktO=("update student set history=history+1 where scode='%d'"%(B))
                            cursor.execute(sktO)
                            m.commit()
                            aO=("SELECT SCODE,bookname,bookcode,STATUS from book where bookcode='%d'"%(A))
                            cursor.execute(aO)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("============================================")
                            print("BOOK" ,A,"ISSUED TO",B,"SUCESSFULLY")
                            print("============================================")
                            z=pd.DataFrame(result,columns=['SCODE','BOOKNAME','BOOKCODE','STATUS'])
                            print(z)
                            print("============================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=='UNISSUE'):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("============================")
                            print("THIS PAGE: UNISSUE OF BOOKS")
                            print("===========================")
                            cursor=m.cursor()
                            t="unissued"
                            s='null'
                            A=int(input("ENTER THE BOOKCODE "))
                            ST=("update book set status='%s' where bookcode='%d'"%(t,A))
                            cursor.execute(ST)
                            m.commit()
                            AT=("UPDATE BOOK SET SCODE=0 WHERE BOOKCODE='%d'"%(A))
                            cursor.execute(AT)
                            m.commit()
                            sk=("update book set stock=stock+1 where bookcode='%d'"%(A))
                            cursor.execute(sk)
                            m.commit()
                            ST=("update book set e_date=now() where bookcode='%d'")%(A)
                            cursor.execute(ST)
                            m.commit()
                            AO=("SELECT BOOKNAME,BOOKCODE,STATUS FROM BOOK WHERE BOOKCODE='%d'")%(A)
                            cursor.execute(AO)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("=================================")
                            print(" book",A,"unissued successfully")
                            print("=================================")
                            z=pd.DataFrame(result,columns=['booKNAME','bookcode','status'])
                            print(z)
                            print("==================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=="PRESENT"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("=================================")
                            print("THIS PAGE STUDENT HISTORY PAGE")
                            print("=================================")
                            cursor=m.cursor()
                            A=int(input("ENTER STUDENT SCODE "))
                            ST=("Select studentname,scode,class,rollno,history from student where scode='%d'"%(A))
                            cursor.execute(ST)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("=======================================")
                            print("books issued by ",A)
                            print("=======================================")
                            z=pd.DataFrame(result,columns=["studentname","scode","class","rollnum","book_read"])
                            print(z)
                            print("=======================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=="EBOOK"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("=================================")
                            print("|      GET YOUR E-BOOKS HERE     |")
                            print("=================================")
                            cursor=m.cursor()
                            pl=int(input("enter your class"))
                            ebk=("select bookname,bookcode,author,class from book where class='%d'"%(pl))
                            cursor.execute(ebk)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("=======================================")
                            print("BOOKS FOR CLASS",pl)
                            print("=======================================")
                            z=pd.DataFrame(result,columns=["bookname","bookcode","author","class"])
                            print(z)
                            print("=======================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                            bn=int(input("enter book code"))
                            if(bn==2750):
                                chp=int(input("enter chapter number"))
                                if(chp==1):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech101.pdf')
                                if(chp==2):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech102.pdf')
                                if(chp==3):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech103.pdf')
                                if(chp==4):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech104.pdf')
                                if(chp==5):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech105.pdf')
                                if(chp==6):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech106.pdf')
                                if(chp==7):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech107.pdf')
                                if(chp==8):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech108.pdf')
                                if(chp==9):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech109.pdf')
                                    
                            elif(bn==4200):
                                chp=int(input("enter chapter number"))
                                if(chp==1):
                                    wb.open_new(r'file:D:\piyush 12 NCERT\maths\lemh1dd\lemh101')   
                           
                            elif(bn==962):
                                chp=int(input("enter chapter number"))
                                if(chp==1):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech101.pdf')                            
                            elif(bn==6471):
                                chp=int(input("enter chapter number"))
                                if(chp==1):
                                    wb.open_new(r'file://D:\piyush 12 NCERT\chem\lech1dd\lech101.pdf')                       
                            
                    
            
 
            else:
                print("_____________________________________")
                print(self.error)
                print("|-----------------------------------|")
    log = Login("admin",  "admin")
    log_id = input(" Enter your user ID: ")
    print("|---------------------------|")
    log_pass = input(" Enter password: ")
    print("|---------------------------|")
    log.check()
if(A=="STUDENT"):
    class student:
        def __init__(self,id,password):
            self.id=id
            self.password=password
            self.error="|enter valid username and password  |"
        def check(self):
            if(self.id ==student_id and self.password==student_pass):
                print("|Student login Successful   |")
                print("|---------------------------|")
                
                
                
                import mysql.connector as slt
                m=slt.connect(host='localhost',user='root',password='system',database='lib')
                if(m.is_connected()):
                    print("=================================")
                    print("THIS PAGE STUDENT HISTORY PAGE")
                    print("=================================")
                    cursor=m.cursor()
                    A=int(input("ENTER STUDENT SCODE "))
                    ST=("Select studentname,scode,class,rollno,history from student where scode='%d'"%(A))
                    cursor.execute(ST)
                    result=cursor.fetchall()
                    import pandas as pd
                    print("=======================================")
                    print("books issued by ",A)
                    print("=======================================")
                    z=pd.DataFrame(result,columns=["studentname","scode","class","rollnum","book_read"])
                    print(z)
                    print("=======================================")
                    print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                
            else:
                print("____________________________________")
                print(self.error)
                print("|-----------------------------------|")

    log=student("student","student")
    print("         LOGIN PAGE")
    print("|---------------------------|")
    student_id = input(" Enter your user ID: ")
    print("|---------------------------|")
    student_pass = input(" Enter password: ")
    print("|---------------------------|")

    log.check()
if(A=="LIB_STAFF"):
    class libstaff:
        def __init__(self,id,password):
            self.id=id
            self.password=password
            self.error="|enter valid username and password|"
        def check(self):
            if(self.id ==staff_id and self.password==staff_pass):
                print(" Student login Successful")
                print("|---------------------------|")
                import mysql.connector as slt
                m=slt.connect(host='localhost',user='root',password='system',database='lib')
                if(m.is_connected()):
                    #DATE IS USED IN EVERY COMMAND
                    import datetime
                    date = datetime.date.today()
                    #wellcome_page
                    print("________________________________________________________")
                    print(" WELLCOME TO SKY LIBRARY ",date)
                    print("________________________________________________________")
                    #what_to_interface
                    print("==============================================")
                    print(" ENTER ALL COMMANDS IN CAPITALS ")
                    print("==============================================")
                    print("|TO ENTER STUDENT DETAILS    : ENTER STUDENT  |")
                    print("|TO GET ALL DATA OF STUDENTS : SHOW DATA      |")
                    print("|TO ENTER BOOK DETAILS       : EB             |")
                    print("|TO ISSUE BOOK TO STUDENTS   : ISSUE          |")
                    print("|TO UNISSUE BOOKS            : UNISSUE        |")
                    print("|TO CHECK ISSUED BOOKS       : PRESENT        |")
                    print("==============================================")
                    w=(input("ENTRY FOR: "))
                    if(w=="ENTER STUDENT"):
                        print("-----------------------------------------")
                        print(" THIS PAGE: ENTER STUDENT DETAILS ")
                        print("INSERT DETAILS CAREFULLY CANNOT BE CHANGED")
                        print("-----------------------------------------")
                        cursor=m.cursor()
                        A=(input("enter student name "))
                        B=int(input("enter the roll number "))
                        D=int(input("enter the class "))
                        st=("insert into student(studentname,rollno,class)values('{}','{}','{}')".format(A,B,D))
                        cursor.execute(st)
                        m.commit()
                        so="update student set scode=(select (round(rand()*10000,0))) where studentname='%s'"%(A)
                        cursor.execute(so)
                        m.commit()
                        sql="select studentname,rollno,scode,class from student where studentname='%s'"%(A)
                        cursor.execute(sql)
                        result=cursor.fetchall()
                        import pandas as pd
                        z=pd.DataFrame(result,columns=["sname","rollno","scode","class"])
                        print("============================================")
                        print ("DETAILS OF ",A,"ENTERED SUCESSFULLY")
                        print("============================================")
                        print(z)
                        print("============================================")
                        print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=="SHOW DATA"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("-----------------------------------------")
                            print(" THIS PAGE: ALL STUDENT DATA STORED ")
                            print("-----------------------------------------")
                            cursor=m.cursor()
                            sql="select studentname,scode,class,rollno from student"
                            cursor.execute(sql)
                            result=cursor.fetchall()
                            import pandas as pd
                            z=pd.DataFrame(result,columns=["sname","scode","class","rollno"])
                            print("============================================")
                            print(" ALL STUDENT DATA")
                            print("============================================")
                            print(z)
                            print("============================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=="EB"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("--------------------------------------------")
                            print(" THIS PAGE: ENTER BOOK DETAILS")
                            print(" INSERT DETAILS CAREFULLY CANNOT BE CHANGED")
                            print("--------------------------------------------")
                            cursor=m.cursor()
                            A=input("ENTER BOOK NAME ")
                            C=input("ENTER THE AUTHOR NAME ")
                            D=int(input("ENTER STOCK OF THIS book "))
                            st=("insert into book(bookname,AUTHOR,stock)values('{}','{}','{}')".format(A,C,D))
                            cursor.execute(st)
                            m.commit()
                            so="update book set bookcode=(select (round(rand()*10000,0))) where bookname='%s'"%(A)
                            cursor.execute(so)
                            m.commit()
                            print("Data insert successfully")
                            sql="select bookname,bookcode,AUTHOR,stock from book where bookname='%s'"%(A)
                            cursor.execute(sql)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("=========================================")
                            z=pd.DataFrame(result,columns=["book","Bcode","AUTHORS","STOCKS"])
                            print(" BOOK DETAILS OF",A,"SUCCESSFULLY")
                            print("=========================================")
                            print(z)
                            print("=========================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    
                    if(w=="issue"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("============================================")
                            print("THIS PAGE : ISSUE BOOKS TO STUDENT")
                            print("ENTER THE VALUES CAREFULLY CANNOT BE CHANGED")
                            print("=============================================")
                            cursor=m.cursor()
                            import datetime
                            dat= datetime.date.today()
                            t="issued"
                            A=int(input("ENTER THE BOOKCODE "))
                            B=int(input("ENTER THE sCODE "))
                            ST=("update book set status='%s',scode='%d'where bookcode='%d'"%(t,B,A))
                            cursor.execute(ST)
                            m.commit()
                            ST=("update book set i_date=now() where scode='%d'")%(B)
                            cursor.execute(ST)
                            sk=("update book set stock=stock-1 where bookcode='%d'"%(A))
                            cursor.execute(sk)
                            m.commit()
                            skt=("update student set history=history+1 where scode='%d'"%(B))
                            cursor.execute(skt)
                            m.commit()
                            aO=("SELECT SCODE,bookname,bookcode,STATUS from book where bookcode='%d'"%(A))
                            cursor.execute(aO)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("============================================")
                            print("BOOK" ,A,"ISSUED TO",B,"SUCESSFULLY")
                            print("============================================")
                            z=pd.DataFrame(result,columns=['SCODE','BOOKNAME','BOOKCODE','STATUS'])
                            print(z)
                            print("============================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=='UNISSUE'):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("============================")
                            print("THIS PAGE: UNISSUE OF BOOKS")
                            print("===========================")
                            cursor=m.cursor()
                            t="unissued"
                            s='null'
                            A=int(input("ENTER THE BOOKCODE "))
                            ST=("update book set status='%s' where bookcode='%d'"%(t,A))
                            cursor.execute(ST)
                            m.commit()
                            AT=("UPDATE BOOK SET SCODE=0 WHERE BOOKCODE='%d'"%(A))
                            cursor.execute(AT)
                            m.commit()
                            sk=("update book set stock=stock+1 where bookcode='%d'"%(A))
                            cursor.execute(sk)
                            m.commit()
                            ST=("update book set e_date=now() where bookcode='%d'")%(A)
                            cursor.execute(ST)
                            m.commit()
                            AO=("SELECT BOOKNAME,BOOKCODE,STATUS FROM BOOK WHERE BOOKCODE='%d'")%(A)
                            cursor.execute(AO)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("=================================")
                            print(" book",A,"unissued successfully")
                            print("=================================")
                            z=pd.DataFrame(result,columns=['booKNAME','bookcode','status'])
                            print(z)
                            print("==================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
                    if(w=="PRESENT"):
                        import mysql.connector as slt
                        m=slt.connect(host='localhost',user='root',password='system',database='lib')
                        if(m.is_connected()):
                            print("=================================")
                            print("THIS PAGE STUDENT HISTORY PAGE")
                            print("=================================")
                            cursor=m.cursor()
                            A=int(input("ENTER STUDENT SCODE "))
                            ST=("Select studentname,scode,class,rollno,history from student where scode='%d'"%(A))
                            cursor.execute(ST)
                            result=cursor.fetchall()
                            import pandas as pd
                            print("=======================================")
                            print("books issued by ",A)
                            print("=======================================")
                            z=pd.DataFrame(result,columns=["studentname","scode","class","rollnum","book_read"])
                            print(z)
                            print("=======================================")
                            print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")

            else:
                print(self.error)
    log=libstaff("staff","staff")
    print("        login page")
    print("|---------------------------|")
    staff_id = input(" Enter your user ID: ")
    print("|---------------------------|")
    staff_pass = input(" Enter password: ")
    print("|---------------------------|")
    log.check()

_____________________________
|  WELLCOME TO SKY LIBRARY  |
|---------------------------|
|ADMIN  | STUDENT| LIB_STAFF|
|---------------------------|
 ENTER AS: ADMIN
|---------------------------|
 Enter your user ID: admin
|---------------------------|
 Enter password: admin
|---------------------------|
|Login successful           |
|---------------------------|
________________________________________________________
 WELLCOME TO SKY LIBRARY  2022-02-27
________________________________________________________
==============================================
 ENTER ALL COMMANDS IN CAPITALS
==============================================
|TO ENTER STUDENT DETAILS    : ENTER STUDENT  |
|TO GET ALL DATA OF STUDENTS : SHOW DATA      |
|TO ENTER BOOK DETAILS       : ENTER BOOK     |
|TO ISSUE BOOK TO STUDENTS   : ISSUE          |
|TO UNISSUE BOOKS            : UNISSUE        |
|TOTAL ISSUE BY STUDENT      : PRESENT        |
|E-BOOKS                     : EBOOK          |
==============================================
ENTRY FOR: ENTER STUDENT
-----------------------------------------
 THIS PAGE: ENTER STUDENT DETAILS
INSERT DETAILS CAREFULLY CANNOT BE CHANGED
-----------------------------------------
enter student name VIPUL
enter the roll number 123444
enter the class 12
============================================
DETAILS OF  VIPUL ENTERED SUCESSFULLY
============================================
   sname  rollno  scode  class
0  vipul      11   4361     11
1  VIPUL     420   1796     11
2  VIPUL  123444   5897     12
============================================
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX